body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("/Images/back.jpg");
    background-attachment: fixed;
    background-size: 100%;
    color: white;
}

btn btn-default{
    color:forestgreen; 
}

#profileImage {
    border: solid;
    border-color: white;
    border-radius: 4em;
}

.navbar {
    color: white;
}

footer {
    
    bottom: fixed;
    text-align: center;
    color: black;
}

.button{
    color:blue; 
}

h1, h2{
    text-align:center; 
}

#profileHeader{
    text-align:center;
}

#jumbotron{
    align-content:center; 
    margin-left:10em; 
    width: 75%;
    color:black;
    border-color:black;
    border-radius:3em;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
