
@{
    ViewBag.Title = "HelpPage";
}

<!-- Side navigation -->
<div class="sidenav">
    <a id="CreateAcc" href="#">Creating an Account</a>
    <a id="HomePage" href="#">Your Home Page</a>
    <a id="Friend" href="#">Friending</a>
    <a id="Messaging" href="#">Messaging</a>
    <a id="Services" href="#">Services</a>
    <a id="Events" href="#">Events</a>
    <a id="FAQ" href="#">FAQ</a>
</div>

<!-- Page content -->
<div class="main">
    <br />
    <div id="descriptionOutside">
        <div id="description"></div>
    </div>
    <br />
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/main.js"></script>
}