
@{
    ViewBag.Title = "HelpPage";
}
<!--Including construction emojis/stickers-->
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <!--Get your own code at fontawesome.com-->
    </head>

<!-- Side navigation -->
<div class="sidenav">
    <br /><br /><br />
    <a id="CreateAcc" href="#AccountHelp" onclick="accInfo()">Account</a>
    <a id="HomePage" href="#HomeHelp" onclick="homeInfo()" >Home</a>
    <a id="ProfilePage" href="#ProfileHelp" onclick="profInfo()">Profile</a>
    <a id="Friend" href="#FriendHelp" onclick="friendInfo()">Friending</a>
    <a id="Messaging" href="#MessageHelp" onclick="messageInfo()">Messaging</a>
    <a id="Services" href="#ServiceHelp" onclick="serviceInfo()">Services</a>
    <a id="Events" href="#EventHelp" onclick="eventInfo()">Events</a>
    <a id="FAQ" href="#FAQHelp" onclick="FAQInfo()">FAQ</a>
    <a id="Contact" href="#ContactHelp" onclick="contactInfo()">Contact Us</a>
    <a id="Vids" href="#VideoHelp" onclick="vidInfo()">Videos</a>
</div>

<!-- Page content -->
<div class="main">
    
    <h2 id="eventTitle"style="margin-right:100px;">Help Center</h2>
    <div id="descBox">
        <div id="descriptionOutside">
            <div id="description">
                Welcome to the <b>Help Page</b>! Select a button on the left-hand side to learn more about our website's features. <br /><br /> Please be patient as we are <i style='font-size:18px' class='fas'>&#xf7d9;</i>
                currently undergoing construction <i style='font-size:18px' class='fas'>&#xf6e3;</i> and developing features for this website for you to enjoy. As we progress through the construction phase, we will add more to our <b>Help Page</b>. We plan to be done with construction by June of 2020. Thank you very much for your patience. In the meantime, enjoy what we do have to offer and continuously add throughout the construction process!
            </div>
        </div>
        <div id="helpPic">
            <img src="/Photos/help.PNG" alt="HelpPic">
        </div>
    </div>
    <br />
</div>


@section scripts {
    <script type="text/javascript" src="~/Scripts/main.js"></script>
}
