
@{
    ViewBag.Title = "HelpPage";
}

<!-- Side navigation -->
    <div class="sidenav">
        <br /><br />
        <a id="CreateAcc" href="#">Creating an Account</a>
        <a id="HomePage" href="#">Your Home Page</a>
        <a id="Friend" href="#">Friending</a>
        <a id="Messaging" href="#">Messaging</a>
        <a id="Services" href="#">Services</a>
        <a id="Events" href="#">Events</a>
        <a id="FAQ" href="#">FAQ</a>
        <a id="Contact" href="#">Contact Us</a>
        <a id="Vids" href="#">Help Videos</a>
    </div>

<!-- Page content -->
<div class="main">
    <br />
    <h2 id="helpTitle">Help and Information Center</h2>
    <div id="descBox">
        <div id="descriptionOutside">
            <div id="description">Welcome to the Help Page! Select a button on the left-hand side to learn more about our website's features.</div>
        </div>
    </div>
    <br />
</div>

    @section scripts {
        <script type="text/javascript" src="~/Scripts/main.js"></script>
    }
