@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron-fluid">
    <h1 id="welcomeBanner">Welcome to Simply Seniors</h1>
</div>
<div>
    <p id="welcomeMessage">This is a place for adults (65+) to meet up with others in their community for fun and events. </p>
</div>
<div class="container-fluid" id="homeImage">
    <img src="/Photos/homeRoundImage.jpg" id="homePhoto" />
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h2 id="homeHeader">About Us</h2>
        <h4>We strive to provide services to users with any level of computer skills. You will see new features added regularly! </h4>
    </div>
    <div class="col-md-5">
        <h2 id="homeHeader">How to Register</h2>
        <h4>There is a link at the top right of the screen that you may follow to make an account. </h4>
        <input type="submit" src="Account/Register" value="REGISTER NOW" class="btn btn-outline-primary" />
    </div>
    <div class="col-md-1"></div>
</div>



