/*CONTENT FOR ALL PAGES*/
/*SECTIONS ON LEFT, MSGS ON RIGHT*/

body {
 
    background-color: paleturquoise;
   
}

.dl-horizontal dt {                                     /* Override the default bootstrap behavior where horizontal description lists will truncate terms that are too long to fit in the left column*/
    white-space: normal;
}
                                                  
input,
select,
textarea {
    max-width: 280px;                                   /* Set width on the form input elements since they're 100% wide by default */
}

.body-content { /* Set padding to keep content from hitting the edges */
    padding-left: 15px;
    padding-right: 15px;
}

/*HOME PAGE STYLING BELOW*/

#welcomeBanner {
    text-align: center;
    font-size: 5em;
    padding-top: .5em;
    font-weight: 800;
}

#homeHeader{
    font-weight:600; 
    padding-top:1em; 
    text-align:center; 
}

#welcomeMessage {
    
    text-align: center;
}

#homeImage{
    margin-left:70px; 
}

#homePhoto{
    border:solid;
    border-color:black; 
    border-radius:40em; 
    opacity:.4;
}

/*NAVBAR CUSTOMIZATION IS BELOW*/

#navBar{
    font-size: 2em;
}

li {
    padding-right: 1em;
}

/* PROFILE SEARCH PAGE STYLING BELOW*/

#searchBox {
    background: lightblue;
    border: solid;
    width: 80%;
    padding: 2em;
    border-radius: 3em; 
    text-align: center;
    color: black;
}

#searchBoxID:hover {
    background: lightgreen;
    border: black;
}

#resultsTable{
    background: lightblue;
    border: solid;
    border-color: black;
    width: 70%;
    margin-left: 11em;
    color: black;
}

#noProfilePhotoFoundImage{
    width: 40%;

    height: 50%;
    padding: inherit;   
}

#searchAgain {
    text-align: center;
    color: black;
}

#profileCardHeader {
    font-weight: 900; 
}

#profileSearchNotFoundBox {
    border-radius: 1em; 
    text-align: center;
}

#profileCardBody {
    text-align: left;
}

#photoHeader {
    padding-left:2em; 
}

#textBox:hover {
    
}

#searchHeader {
    font-weight: 600; 
    padding-top: 1em; 
    text-align: center; 
}
/*SERVICES PAGE STYLING BELOW*/

#firstSlide, #secondSlide, #thirdSlide {
    border-radius: 40em; 
    opacity: .3;
    height: 100%;
    margin-left: 250px; 
}

#servicesCarouselText {
  color: black;
  padding-bottom: 10em; 
}
#myCarousel {
    padding-bottom: 4em; 
}

#servicesHeader {
    font-size: 50px; 
    font-weight: 600; 
    border-radius: .5em;
    border: white; 
    padding: 1em;
    text-align: center;
 
}

