@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" id="jumbotron">
    <h1>Swimmer's Stats</h1>
    <p class="lead">This program is used to track elite athletes and be able to view their profiles.</p>
    </div>

<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-4">
            <h2>My Profile</h2>
            <p> This will take you to an athlete's profile so that you can see their photo and update the profile information </p>
            <p><a class="btn btn-default" href="/Profile/settings">View Profile &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Register for an Account</h2>
            <p>Below you can Register, registration is required to utilize all features that are included in this application. You may also follow the links in the right corner to complete this process.  </p>
            <p><a class="btn btn-default" href="/Account/Login">Register Now&raquo;</a></p>
        </div>
        <div class="col-md-2"></div>
        </div>
