<appSettings>
<add key="eventApiKey" value="QhMNW3GgHB8WJZht" />
<add key="recaptchaPublickey" value="6Lcl_NMUAAAAALwmy72dDU_8eC8BUqhtPbLKG5Ew" />
<add key="recaptchaPrivatekey" value="6Lcl_NMUAAAAAE2aAhX46KlnnU8so4P7YQCN_2Np" />
<add key="weatherApiKey" value="4368f653168e32c12db5f1d5b9842a63" />
<add key="newsApiKey" value="d50d92800dcd4495957ff70fc0da42b2" />
<add key="mapApiKey" value="AIzaSyAvdkMhKjOodZKxdR-ZBj1ImZd6NE_1bCU" />
<add key="chatApiKey" value="tnDbD1Bo" />
</appSettings>